* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.mainDiv {
    padding: 30px;
    display: flex;
    background-color: blueviolet;
}

.left {
    padding: 30px;
    width: 400px;
    height: 630px;
    background-color: rgb(83, 171, 206);
    color: white;
}

.heading-1 {
    margin-top: 175px;
}

.heading-2 {
    font-size: 52px;
}

.btn {
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.leftPara {
    text-transform: uppercase;
    font-weight: 700;
}

.right {
    padding: 60px;
    width: 70%;
    background-color: white;
}

.heading-3 {
    text-transform: uppercase;
    text-align: center;

}

.content {
    padding: 25px;
}

.input {
    border-radius: 3px;
    border: 1px solid grey;
    outline: none;
    width: 200px;
}

.row-1 {
    margin-left: 65px;
    display: flex;
    gap: 3px;
}

.enter {
    border: none;
    outline: none;
    padding: 5px;
}

.enter-1 {
    width: 400px;
    border: none;
    outline: none;
    padding: 5px;
}

.enter-2 {
    width: 250px;
    border: none;
    outline: none;
    padding: 5px;
}

.input-1 {
    border-radius: 3px;
    margin-left: 65px;
    border: 1px solid grey;
    width: 610px;
}

.para-1 {
    margin-left: 65px;
    font-size: small;
}

.row-3 {
    display: flex;
    gap: 3px;
    margin-left: 65px;
}

.row-4 {
    display: flex;
    gap: 3px;
    margin-left: 65px;
}

.input-2 {
    border: 1px solid grey;
    outline: none;
    border-radius: 3px;
    width: 305px;
}

.input-23 {
    width: 305px;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
}

.heading-4 {
    margin-left: 65px;
    color: blueviolet;
    font-size: small;
}

.row-5 {
    display: flex;
    gap: 3px;
    margin-left: 65px;
}

.input-3 {
    border: 1px solid grey;
    outline: none;
    border-radius: 3px;
    width: 305px;
}

.row-6 {
    display: flex;
    gap: 3px;
    margin-left: 65px;
}

.input-4 {
    border-radius: 3px;
    border: 1px solid grey;
    width: 610px;
}

.selec {
    width: 610px;
    padding: 5px;
    border: 1px solid grey;
    outline: none;
}

.row-7 {
    display: flex;
    gap: 3px;
    margin-left: 65px;
}

.input-5 {
    border-radius: 3px;
    border: 1px solid grey;
    width: 610px;
}

.row-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-1 {
    background-color: blueviolet;
    color: white;
    width: 150px;
    padding: 5px 25px;
    border: none;
    outline: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.a1 {
    text-align: center;
    text-shadow: 2px grey;
    color: cornflowerblue;
    font-style: italic;
}

.qwerty1 {
    width: 305px;
}
